.header {
  height: 800px;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.header__title {
  display: block;
  max-width: 729px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding: 183px 0 0 80px;
  margin: 0 0;
  z-index: 1;
}

.header__span-accent {
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
  display: block;
}

.header__description {
  font-family: "Noto Serif", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  padding: 28px 0 0 80px;
  margin: 0 0;
  z-index: 1;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  z-index: -1; /* The image doesn't show now(?) */
}

.header__footer {
  display: flex;
  padding: 0 80px 40px 80px;
  margin-top: auto;
  justify-content: space-between;
  align-items: end;
}

.header__footer-column {
  display: flex;
  flex-direction: column;
}

.header__paragraph {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin: 0 0;
}
