.reservation {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.reservation__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
  margin: 0 0;
}

.reservation__form {
  padding-top: 80px;
  max-width: 385px;
}
