.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  height: 800px;
  background-image: url("../images/background_header.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0;
}

.nav__logo {
  width: 105px;
  height: 39px;
  padding-left: 30px;
}

.nav__links {
  display: flex;
  list-style: none;
  padding-right: 80px;
}

.nav__item {
  padding-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  display: block;
  margin: 0 0;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  padding: 183px 0 0 80px;
}

.header__span-accent {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

span {
  display: block;
}

.header__description {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 0 0;
  padding: 28px 0 0 80px;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__footer {
  display: flex;
  flex-direction: column;
  padding: 0 0 40px 80px;
  margin-top: auto;
  position: relative;
}

.header__paragraph {
  margin: 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
}

.header__paragraph:last-of-type {
  position: absolute;
  bottom: 40px;
  right: 80px;
}

.recipes {
  display: flex;
  flex-direction: column;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  margin: 0 0;
  max-width: 580px;
  padding: 100px 0 0 80px;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0;
  max-width: 438px;
  padding: 24px 0 0 80px;
}

.recipes__videos {
  display: flex;
  flex-wrap: wrap;
  margin: 80px auto 215px;
  width: 1000px;
  justify-content: space-between;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
  border: 0;
}

.recipes__iframe:last-of-type {
  padding-left: 40px;
}

.recipes__video-caption-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
  padding-top: 20px;
}

.recipes__video-caption {
  margin: 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.reservation {
  display: flex;
  flex-direction: column;
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

.reservation__title {
  margin: 0 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  padding-top: 100px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  max-width: 385px;
  align-items: center;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 0;
  padding: 0 0;
  border: 1px;
  border-color: #838383;
  width: 385px;
}

.form__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  padding-bottom: 8px;
}

.form__input {
  max-width: 385px;
  height: 40px;
  border-radius: 4px;
  border-color: #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  padding: 15px 20px;
}

.form__input_box {
  margin-bottom: 32px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  width: 100%;
  background-color: #1878dc;
  border-radius: 4px;
  border-color: #838383;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  padding: 20px 0;
  transition: background-color 0.3s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__fieldset:last-of-type {
  margin-bottom: 120px;
}

.form__label_checkbox {
  display: inline-flex;
  justify-content: center;
  gap: 12px;
  padding: 0 0;
  max-width: fit-content;
  align-self: center;
}

.form__checkbox {
  appearance: none;
}

.form__checkbox_styled {
  border: solid 1px #838383;
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.form__checkbox_styled:hover {
  box-shadow: 0 0 2px;
}
.form__checkbox_styled:checked {
  background-color: #1878dc;
  background-image: url("../images/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
